@{
    ViewData["Title"] = "Home Page";
}

<div class="content pb-0" style="max-width:calc(100vw)">
    <div id="myContent">
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/client.js"></script>