<footer class="footer">
    <div class="container-fluid">
        <div class="copyright">
            &copy; 2024 - Coded with Imagination by <a data-icon="about" style="color: blueviolet;cursor:pointer">IAQ-WP PE</a>
        </div>
    </div>
</footer>
